@use '../abstract/index' as *;
@use '../components/index' as *;
@use '../abstract/mixins' as *;

.download-section {
  padding: 5rem 0;

  opacity: 1;
  transform: translateY(0%);
  transition: all 1s ease-in-out;

  &.hidden {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1s ease-in-out;
  }

  /* &.visible {
    opacity: 1;
    transform: translateY(0%);
  } */

  // .download-section__text

  &__text {
    text-align: center;
  }

  // .download-section__title

  &__title {
    @extend %tpl-secondary-title;

    margin-bottom: 0.5em;
  }

  // .download-section__p

  &__p {
    margin: 0 auto;
    margin-bottom: 2.5em;
    hyphens: none;
  }

  // .download-section__browsers

  &__browsers {
  }
}
.container {
}
.browsers-download {
  display: flex;
  flex-direction: column;
  align-items: center;

  // gap: 2.5rem 0;

  & > * {
    margin-top: 2.5rem;
  }

  & > *:first-of-type {
    margin-top: 0;
  }

  @include mq(med) {
    flex-direction: row !important;
    align-items: stretch !important;

    // gap: 0 4% !important;

    & > * {
      margin-top: 0rem !important;
      margin-left: 4%;
    }

    & > *:first-of-type {
      margin-left: 0;
    }
  }

  @include mq(lg) {
    justify-content: space-evenly !important;
  }

  // .browsers-download__card

  &__card {
  }
}
.card {
  display: grid;

  grid-template-rows: repeat(4, auto);
  justify-items: center;
  padding: 1em;

  box-shadow: 2px 5px 7px $neutral-dark-blue-shadow,
    -2px 5px 7px $neutral-dark-blue-shadow;

  border-radius: 1em;

  background: url('../img/bg-dots.svg') no-repeat;
  background-size: contain;
  background-position: bottom 27% right;

  text-align: center;

  position: relative;

  @include mq(xlg) {
    padding: 1.5em !important;

    &:nth-of-type(1) {
      transform: translateY(-50px) !important;
    }
    &:nth-of-type(3) {
      transform: translateY(50px) !important;
    }
  }

  // .card__img

  &__img {
    margin-bottom: 2em;
  }

  // .card__title

  &__title {
    font-size: 2rem;

    margin-bottom: 0.5em;
  }

  // .card__p

  &__p {
    margin-bottom: 4em;

    hyphens: none;
  }
}
.btn {
}
.btn-primary {
}
