@use '../abstract/index' as *;

.faq-section {
  padding: 5rem 0;
  // .faq-section__container

  &__container {
    max-width: 900px;
  }

  // .faq-section__text

  &__text {
    margin-bottom: 3.5rem;
    text-align: center;
  }

  // .faq-section__title

  &__title {
    @extend %tpl-secondary-title !optional;
    margin-bottom: 0.5em;
  }

  // .faq-section__p

  &__p {
    margin: 0 auto;
  }

  // .faq-section__accordeon

  &__accordeon {
  }

  // .faq-section__for-btn

  &__for-btn {
    margin-top: 4.5rem;

    display: flex;
    justify-content: center;
  }
}
.container {
}
.accordeon {
  // .accordeon__text

  &__text {
    // display: none;
    max-height: 0px;
    height: auto;
    overflow: hidden;

    // transform: translateY(-100px);
    transform: scaleY(0%);

    // margin-top: 0.75rem;
    // padding: 1.5rem 0;

    margin: 0.75rem 0;

    // transition: all 350ms ease-in-out, max-height 350ms ease-in-out;
    transition: overflow 350ms ease-in-out, max-height 350ms ease-in-out,
      transform 350ms ease-in-out;
  }

  // .accordeon__arrow

  &__arrow {
    flex: 0 0 15px;
    height: 15px;

    @include adaptive-value(margin-left, 30, 15);

    transform: rotate(0deg);
    transition: all 150ms ease-in-out;
  }

  // .accordeon__item

  &__item {
    border-bottom: 1px solid $neutral-grayish-blue;

    margin-bottom: 2.5rem;
    padding: 1.5rem 0;

    height: auto;

    transition: all 350ms ease-in-out;

    &.open {
      .accordeon__text {
        // max-height: 100%;
        max-height: 600px;
        overflow: visible;
        transform: scaleY(100%);
        // transition: all 350ms ease-in-out, max-height 350ms ease-in-out;
        transition: transform 350ms ease-in-out, max-height 350ms ease-in-out,
          overflow 350ms ease-in-out;
      }

      .accordeon__arrow {
        transform: rotate(180deg);
        transition: all 150ms ease-in-out;
      }
    }
  }

  // .accordeon__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    padding: 1rem 0;
  }

  // .accordeon__title

  &__title {
    font-size: 1.8rem;
    font-weight: 500;

    flex: 1 1 80%;
  }

  // .accordeon__content

  &__content {
  }
}
