@use '../abstract/index' as *;
@use '../components/index' as *;

.features-section {
  padding: 6rem 0;

  // .features-section__text

  &__text {
    text-align: center;
  }

  // .features-section__title

  &__title {
    @extend %tpl-secondary-title;
  }

  // .features-section__p

  &__p {
    margin-bottom: 2em;
  }

  // .features-section__tab

  &__tab {
  }
}
.container {
}
.tab {
  // .tab__buttons

  &__buttons {
    width: 100%;

    margin-bottom: 2.5em;
  }

  // .tab__btn

  &__btn {
    display: block;
    width: 100%;

    font-size: 2rem;

    padding: 1em 1.5em;

    border-top: 1px solid $neutral-grayish-blue;
    border-bottom: 1px solid $neutral-grayish-blue;

    color: $neutral-grayish-blue;
    background: transparent;

    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      color: $primary-soft-red;
    }

    // .tab__btn_active

    &_active {
      color: $neutral-dark-blue;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 5px;
        background: #fa5757;
        z-index: 2;
        transform: translateX(-50%);
        border-radius: 0.1em;
      }
    }
  }

  // .tab__content

  &__content {
  }
}
.content-tab {
  // .content-tab__element

  &__item {
    display: none;
    // display: flex;

    // .content-tab__element_active

    &_active {
      display: flex;
      flex-direction: column;
      gap: 5rem 0;
    }
  }

  // .content-tab__img

  &__img {
    // .content-tab__img-wrapper
    &-wrapper {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 17.25%;
        right: 20%;
        width: 100vw;
        height: 90%;
        background-color: $primary-soft-blue;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        z-index: -1;
      }
    }
  }

  // .content-tab__text

  &__text {
  }
}
.element-tab {
}
.text-tab {
  text-align: center;

  // .text-tab__title

  &__title {
    @extend %tpl-secondary-title;
  }

  // .text-tab__subtitle

  &__subtitle {
    margin-bottom: 2em;
  }

  // .text-tab__btn

  &__btn {
    padding: 0.5em 1em;
  }
}
