@use '../abstract/index' as *;

.footer {
  padding: 2.5rem 0;
  background: $neutral-dark-blue;
  text-align: center;

  // .footer__content

  &__content {
    @include mq(med) {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
    }
  }

  // .footer__logo

  &__logo {
    margin-bottom: 1em;

    @include mq(med) {
      margin-bottom: 0 !important;
    }
  }

  // .footer__logo-link

  &__logo-link {
    @include mq(med) {
      display: inline-block !important;
      height: 100% !important;
    }
  }

  // .footer__logo-img

  &__logo-img {
    mix-blend-mode: screen;
  }

  // .footer__nav

  &__nav {
  }

  // .footer__icons

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    // gap: 0 2rem;

    & > *:last-of-type {
      margin-left: 2rem;
    }

    a {
      cursor: pointer;

      &:hover,
      &:focus {
        i {
          color: $primary-soft-red;
        }
      }

      i {
        color: white;
        font-size: 2rem;
      }
    }
  }

  // .footer__icon-img

  &__icon-img {
  }
}
.container {
}
.nav-footer {
  // .nav-footer__list

  &__list {
    margin-bottom: 2.5rem;

    @include mq(med) {
      display: flex !important;
      // gap: 0.5rem 0;
      margin-bottom: 0 !important;

      & > * {
        margin-left: 0.5rem !important;
      }

      & > *:first-of-type {
        margin-left: 0rem !important;
      }
    }
  }

  // .nav-footer__item

  &__item {
    color: white;

    padding: 0.5em 1.5em;

    @include mq(med) {
      padding: 0.5em 1em !important;
    }
  }

  // .nav-footer__link

  &__link {
    color: white;

    transition: all 100ms ease-in-out;

    &:hover,
    &:focus {
      // opacity: 0.8;
      color: $primary-soft-red;
    }
  }
}
