@use '../abstract/index' as *;

.header {
  padding: 2rem 0;
  // .header__container

  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo
  &__logo {
    flex: 0 0 45%;

    @include mq(lg) {
      flex: 0 0 auto !important;
    }
  }

  // .header__logo-link

  &__logo-link {
  }

  // .header__logo-img

  &__logo-img {
  }

  // .header__main

  &__main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px;

    background: $neutral-dark-blue;
    z-index: 10;

    clip-path: circle(0% at 100% 0);

    transform: translateX(100%);
    transition: transform 400ms ease-in-out;

    display: grid;
    grid-template-rows: auto 1fr auto;

    &.open {
      transform: translateX(0%);
    }

    @supports (clip-path: circle(0% at 100% 0)) {
      clip-path: circle(0% at 100% 0);
      transform: translateX(0%);
      transition: clip-path 400ms ease-in-out;

      &.open {
        clip-path: circle(150% at 50% 50%);
      }
    }

    @include mq(lg) {
      position: static !important;
      padding: 0 !important;
      transform: translateX(0%);

      background: transparent !important;
      z-index: initial !important;
      clip-path: none !important;

      display: flex !important;
      align-items: center !important;
    }
  }

  // .header__main-row
  &__main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5em;

    @include mq(lg) {
      display: none !important;
    }
  }

  // .header__main-logo

  &__main-logo {
    // background: #fff;
    mix-blend-mode: screen;
  }

  // .header__main-close

  &__main-close {
    cursor: pointer;

    width: 2rem;
    height: 2rem;

    &:hover {
      opacity: 0.8;
    }
  }

  // .header__main-nav

  &__main-nav {
    width: 100%;
  }

  // .header__icons-wrapper

  &__icons-wrapper {
    justify-self: center;

    display: flex;
    align-items: center;

    & > *:last-of-type {
      margin-left: 0.5em;
    }

    @include mq(lg) {
      display: none !important;
    }
  }

  // .header__icons-link

  &__icons-link {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }

    i {
      font-size: 2rem;
      font-weight: 500;
      color: white;

      &:hover {
        color: $primary-soft-red;
      }
    }
  }
  // .header__icons-img

  &__icons-img {
  }

  // .header__menu
  &__menu {
    cursor: pointer;

    @include mq(lg) {
      display: none !important;
    }
  }

  // .header__menu-img

  &__menu-img {
  }
}
.container {
}

.nav-header {
  // .nav-header__list

  &__list {
    width: 100%;

    @include mq(lg) {
      display: flex !important;
      align-items: center;

      & > *:not(:first-of-type) {
        margin-left: 2rem;
      }
    }
  }

  // .nav-header__item

  &__item {
    display: block;
    width: 100%;
    text-align: center;

    padding: 0.75em 0;

    border-top: 1px solid $neutral-grayish-blue;
    overflow: hidden;

    &:not(:last-of-type):hover {
      opacity: 0.8;
    }

    @include mq(lg) {
      display: inline-block !important;
      border: none !important;
      padding: 0.25em 0.5em !important;
      width: max-content;

      &:last-of-type {
        margin-left: 1.5rem;
      }

      &:not(:last-of-type):hover {
        opacity: none;
        // opacity: unset;
      }
    }
  }

  // .nav-header__link

  &__link {
    color: white;
    font-size: 2rem;

    text-transform: uppercase;

    @include mq(lg) {
      color: $neutral-dark-blue;
      font-size: 1.8rem;
      width: 100% !important;
      display: inline-block !important;

      &:hover {
        color: $primary-soft-red;
      }
    }

    &-btn {
      border: 2px solid currentColor;
      display: block;

      padding: 0.5em 0.3em;
      border-radius: 0.5em;

      position: relative;

      @include mq(lg) {
        padding: 0.7em 2em !important;
        border-radius: 1rem;

        background: $primary-soft-red;
        color: white;

        font-size: 1.8rem;
        text-transform: uppercase;

        border-color: $primary-soft-red !important;

        box-shadow: 2px 5px 7px $neutral-dark-blue-shadow,
          -2px 5px 7px $neutral-dark-blue-shadow;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0.5em;

        // clip-path: circle(0% at 100% 0);
        transform: translateX(120%);
        background: white;

        z-index: -1;

        transition: all 300ms ease-in-out;

        @supports (clip-path: circle(0% at 100% 0)) {
          clip-path: circle(0% at 100% 0);
        }

        @include mq(lg) {
          // position: unset !important;
          position: static !important;
        }
      }

      transition: all 300ms ease-in-out;

      &:hover,
      &:focus {
        opacity: 0.8;
        color: $neutral-dark-blue;

        @include mq(lg) {
          color: $primary-soft-red;
          background: transparent;
        }

        &::before {
          transform: translateX(0%);
          @supports (clip-path: circle(150% at 100% 0)) {
            clip-path: circle(150% at 100% 0);
          }
        }
      }
    }
  }
}
