@use '../abstract/index' as *;

.hero-section {
  padding: 3rem 0 5rem;

  // .hero-section__content

  &__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    // gap: 4.5rem 0;
    & > *:first-of-type {
      margin-top: 4.5rem;
    }

    @include mq(med) {
      flex-direction: row !important;

      & > *:last-of-type {
        margin-top: 0rem !important;
        margin-left: 2rem !important;
      }
    }
  }
}

.content-hero {
  // .content-hero__col

  &__col {
  }

  // .content-hero__left-col

  &__left-col {
    text-align: center;

    @include mq(med) {
      text-align: left !important;
    }
  }

  // .content-hero__right-col

  &__right-col {
    position: relative;
    max-width: 400px;

    @include mq(med) {
      transform: translateX(50px) scale(1.2);
    }

    @include mq(lg) {
      transform: scale(1) translateX(50px) !important;
    }

    &::after {
      content: '';
      position: absolute;
      top: 22%;
      left: 20%;
      width: 120%;
      height: 80%;
      background-color: $primary-soft-blue;
      border-radius: 8.5rem;
      z-index: -1;
      min-width: 300px;
    }
  }

  // .content-hero__title

  &__title {
    font-size: 3.2rem;
    line-height: 140%;

    margin-bottom: 0.8em;
  }

  // .content-hero__text

  &__text {
    color: $neutral-grayish-blue;

    margin-bottom: 2em;
  }

  // .content-hero__buttons

  &__buttons {
  }

  // .content-hero__img

  &__img {
  }
}
.hero-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto));

  gap: 5%;

  @include mq(lg) {
    display: flex !important;
    align-items: center !important;
    gap: 0 !important;

    & > *:last-of-type {
      margin-left: 5% !important;
    }
  }

  // .hero-buttons__btn

  &__btn {
    @include mq(lg) {
      padding: 1em !important;
    }
  }
}
.btn {
}
.hero-buttons {
  // .her0-buttons__btn--primary

  &__btn--primary {
  }

  // .her0-buttons__btn--secondary

  &__btn--secondary {
  }
}
