@use './fonts' as *;
@use '../abstract/index' as *;

* {
  font-family: $Rubik;
}

html {
  font-size: 10px;
  overflow-x: hidden !important;
  scroll-behavior: smooth;

  @include mq(xlg) {
    font-size: 12px !important;
  }
}

body {
  background: #fff;
  margin: 0;
  font-family: $Rubik;
  font-size: 1.8rem;
  overflow-x: hidden !important;
}

body.lock {
  overflow: hidden !important;
}

// prettier-ignore
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $neutral-dark-blue;
}

p {
  color: $neutral-grayish-blue;
  max-width: 60ch;
}
