$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-blue-shadow: hsla(231, 69%, 60%, 0.15);
// $primary-soft-red: hsl(0, 94%, 66%);
$primary-soft-red: hsl(0, 93%, 48%);
// $primary-soft-green: hsl(108, 94%, 66%);
$primary-soft-green: hsl(109, 92%, 28%);
$neutral-grayish-blue: hsl(240, 2%, 34%);
$neutral-dark-blue: hsl(229, 31%, 21%);
$neutral-dark-blue-shadow: hsla(229, 31%, 21%, 0.06);
