$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-blue-shadow: hsla(231, 69%, 60%, 0.15);
$primary-soft-red: hsl(0, 94%, 66%);
$neutral-grayish-blue: hsl(229, 8%, 60%);
$neutral-dark-blue: hsl(229, 31%, 21%);
$neutral-dark-blue-shadow: hsla(229, 31%, 21%, 0.06);
